body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 86px;
}

.contenedor {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.menu {
    position: fixed;
    width: 100%;
    height: 86px;
    transition: .3s;
    z-index: 999;
    background: #ffffff;
}

.menu-icon {
    display: none;
}

#contenedor-menu {
    display: flex;
    justify-content: space-around;
}

header img {
    width: 141.21px;
    height: 37.16px;
    margin-top: 29.38px;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    margin-top: 23.38px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 22px;
}

nav ul li a:hover {
    color: #60A1E7;
    background: #F5F6F7;
    transition: all .3s;
}

.submenu-nav {
    position: absolute;
    left: 0;
    top: 63px;
    background: #F5F6F7;
    width: 100%;
    height: 224px;
    visibility: hidden;
}

.submenu-nav-empresas {
    position: absolute;
    top: 63px;
    left: 0;
    background: #F5F6F7;
    width: 100%;
    height: 224px;
    justify-content: center;
    visibility: hidden;
}

.submenu-azul {
   background: #60A1E7;
   display: flex;
   position: absolute;
   justify-content: center;
   left: 0;
   width: 100%;
   margin-top: 200px;
}

.submenu-azul p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin-top: 13px;
    margin-right: 11px;
    
}

.submenu-azul a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 0;
    margin-top: 13px;
    text-decoration: underline;
}

nav li:hover .submenu-nav-empresas {
    visibility: visible;
}

nav li:hover .submenu-nav {
    visibility: visible;
}

.item-menu {
    width: 216.49px;
    height: 114.62px;
    background: #ffffff;
    margin-top: 53.69px;
    margin-bottom: 53.69px;
    margin-right: 32.51px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 0;
}

.item-menu p {
    margin-top: 0;
}

.item-menu li {
    margin-right: 0;
}

.item-menu img {
    margin-top: 0;
}

.iniciar-sesion {
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 6px;
    margin-top: 14px;
}

#brainbrow h1 {
    font-size: 40px;
    font-weight: 700;
    color: #3B536D;
}

#brainbrow p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #747474;
}

#brainbrow .home-img img {
    width: 584.71px;
    height: 538.06px;
    margin-top: 0;
    padding: 32.93px 0;
}

#brainbrow .contenido {
    display: flex;
    justify-content: space-around;
}

#brainbrow .home-texto h1 {
    margin-top: 0px;
    margin-bottom: 13.87px;
    margin-left: 100px;
    margin-right: 144px;
}

#brainbrow .home-texto p {
    margin-left: 100px;
    margin-right: 45.8px;
}

#brainbrow .home-texto {
    margin-top: 135px;
}

#cta {
    background: #E6E9ED;
    height: 111.79px;
}

#cta .sub-menu {
    padding-top: 46px;
    padding-bottom: 46px;
    text-align: center;
}

#cta a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #3B536D !important;
    margin-right: 46px;  
}

#control {
    padding-bottom: 90.79px;
}

#control h3 {
    font-size: 35px;
    font-weight: 500;
    color: #3B536D;
    text-align: center;
}

#control .contenedor-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#control .item {
    width: 28%;
    text-align: center;
    
}

#control ul li {
    list-style: none;
}

#control ul li:nth-child(2) {
    font-size: 20px;
    font-weight: 700;
    color: #3B536D;
    margin-top: 5px;
    margin-bottom: 15px;
}

#control ul li:nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    color: #3B536D;
    line-height: 19px;
}

#control ul li:nth-child(1) {
    width: 28%;
    margin: auto;
    margin-top: 81px;
    margin-bottom: 35px;
}

#nuestros-servicios {
    background: #3B536D;
    padding-bottom: 93.57px;
}

#nuestros-servicios h3 {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 60px;
}

#nuestros-servicios h6 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #89AED6;
    margin-top: 8px;
}

.contenedor-nuestros-servicios .servicio-uno {
    background: rgb(33, 51, 71);
    box-shadow: 0 5px 9px 0 rgba(215, 215, 215, .16);
    width: 500px;
    height: 270px;
    margin-right: 0;

}

.contenedor-nuestros-servicios .servicio-dos {
    background: rgb(56 ,96, 132);
    box-shadow: 0 5px 9px 0 rgba(215, 215, 215, .16);
    width: 500px;
    height: 270px;

}

.contenedor-nuestros-servicios .servicio-tres {
    background: rgb(56 ,96, 132);
    box-shadow: 0 5px 9px 0 rgba(215, 215, 215, .16);
    width: 500px;
    height: 270px;

}

.contenedor-nuestros-servicios .servicio-cuatro {
    background: rgb(39, 76, 117);
    box-shadow: 0 5px 9px 0 rgba(215, 215, 215, .16);
    width: 500px;
    height: 270px;

}

.contenedor-nuestros-servicios .servicio-cinco {
    background:  rgb(33, 51, 71);
    box-shadow: 0 5px 9px 0 rgba(215, 215, 215, .16);
    width: 500px;
    height: 270px;

}

.contenedor-nuestros-servicios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-nuestros-servicios h4 {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 88px;
    margin-left: 31px;
}

.contenedor-nuestros-servicios p {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 9px;
    margin-left: 31px;;
    margin-right: 248px;
}

.contenedor-nuestros-servicios a {
    font-size: 16px;
    font-weight: 400;
    color: #489DF8;
    margin-top: 9px;
    margin-left: 31px;
}

.contenedor-nuestros-servicios img {
    float: right;
}

.contenedor-nuestros-servicios .servicio-uno img {
    width: 269px;
    height: 270px;
}

.contenedor-nuestros-servicios .servicio-dos img {
    width: 500px;
    height: 270px;
}

.contenedor-nuestros-servicios .servicio-dos h4 {
    color: #3B536D !important;
}

.contenedor-nuestros-servicios .servicio-dos p {
    color: #3B536D !important;
    margin-top: 155px;
}

.contenedor-nuestros-servicios .servicio-dos a {
    margin-top: 215px;
}

.contenedor-texto {
    position: relative;

}
.texto-encima {
    position: absolute;
}

.contenedor-nuestros-servicios .servicio-tres img {
    width: 237px;
    height: 240px;
    margin-top: 30px;
}

.contenedor-nuestros-servicios .servicio-cuatro img {
    width: 250px;
    height: 250px;
    margin-top: 19px;
}

.contenedor-nuestros-servicios .servicio-cinco img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-right: 20px;
}

footer img {
    width: 141.21px;
    height: 37.16px;
    margin-top: 29.38px;
    cursor: pointer;
}

.directorio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#pie .directorio ul {
    margin-right: 40px;
}

#pie .directorio ul li {
    margin-bottom: 9px;
    list-style: none;
}

#pie .directorio ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}

#pie .titulo-lista {
    font-weight: 700 !important;
}

#pie .directorio img {
    margin: 0;
}

#pie-contacto a {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    text-decoration: none;
    margin-right: 32px;
}

#pie-contacto .contenedor-a-contacto {
    margin-left: 126px;
}

.go4it {
    margin-left: 742px;
}

#pie-contacto .borde-padding {
    border-top: 1px solid;
    border-color: #707070;
    padding-top: 20px;
    padding-bottom: 52px;
}

/* Estilos responsive para pantalla 1 iOS y Android*/

@media screen and (max-width: 800px) {
    #brainbrow .contenido {
        flex-direction: column;
    }

    #brainbrow .home-img img{
        width: 100%;
        margin-top: -142px;
        margin-bottom: -142px;
    }

    #brainbrow .home-texto h1 {
        width: 100%;
        text-align: center;
        margin-top: -100px;
        margin-left: 0;
        line-height: 33px;
    }

    #brainbrow .home-texto p {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    #cta {
        height: 106.79px;
    }

    #cta .sub-menu {
        width: 100%;
        padding-top: 22px;
        
    }

    #cta .sub-menu a {
        margin-bottom: 16px;
        margin-right: 15px;
        font-size: 13px;
        text-align: left;
        font-weight: 500;
    }

    #control .contenedor h3 {
        font-size: 20px;
        margin-top: 51.07px;
        padding: 0;
        margin-left: 35px;
        margin-right: 35px;
    }

    #control .contenedor-control {
        flex-direction: column;
    }

    #control .contenedor-control .item {
        width: 82%;
    }

    #control .contenedor-control .item img {
        width: 150%;
        margin-top: -45.91px;
    }

    #nuestros-servicios h3 {
        font-size: 20px;
    }

    #nuestros-servicios h6 {
        visibility: hidden;
    }

    #nuestros-servicios .contenedor-nuestros-servicios {
        flex-direction: column;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-uno {
        width: 100%;
    }

    .contenedor-nuestros-servicios .servicio-uno img {
        width: 50%;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-uno h4 {
        font-size: 17px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-uno p {
        font-size: 13px;
        margin-right: 100px;
    }
    #nuestros-servicios .contenedor-nuestros-servicios .servicio-uno a {
        font-size: 13px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-dos {
        width: 100%;
    }

    .contenedor-nuestros-servicios .servicio-dos img {
        width: 100%;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-dos h4 {
        font-size: 17px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-dos p {
        font-size: 13px;
        margin-right: 100px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-dos a {
        font-size: 13px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-tres {
        width: 100%;
    }

    .contenedor-nuestros-servicios .servicio-tres img {
        width: 50%;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-tres h4 {
        font-size: 17px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-tres p {
        font-size: 13px;
        margin-right: 100px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-tres a {
        font-size: 13px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cuatro {
        width: 100%;
    }

    .contenedor-nuestros-servicios .servicio-cuatro img {
        width: 50%;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cuatro h4 {
        font-size: 17px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cuatro p {
        font-size: 13px;
        margin-right: 100px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cuatro a {
        font-size: 13px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cinco {
        width: 100%;
    }

    .contenedor-nuestros-servicios .servicio-cinco img {
        width: 50%;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cinco h4 {
        font-size: 17px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cinco p {
        font-size: 13px;
        margin-right: 100px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cinco a {
        font-size: 13px;
    }

    footer #pie .contenedor .directorio {
        justify-content: left;
    }

    footer #pie .contenedor .directorio ul {
        margin-left: -36px;
    }

    footer #pie .contenedor .directorio img {
        display: none;
    }

    footer #pie-contacto .contenedor-a-contacto {
        margin-left: 23px;
    }

    footer #pie-contacto .contenedor-a-contacto .go4it {
        float: right;
    }

    .menu-icon {
        display: block;
        float: right;
        width: 24px;
        height: 40px;
        margin-top: 23px;
    }

    header nav {
        display: block;
        position: absolute;
        top: 86px;
        left: 0;
        background: #ffffff;
        height: 660.77px;
        width: 100%;

    }

    header ul {
        flex-direction: column;
    }

    header ul li {
        margin-left: -35px;
    }

    header #contenedor-menu {
        display: flow-root;
    }

    header nav ul li a {
        font-size: 16px;
        color: #3B536D !important;
        font-weight: 700;
        padding: 0;
        padding-left: 20px;
        margin-bottom: 16px;
    }

    header .iniciar-sesion {
        width: 143px;
    }

    header .submenu-nav {
        visibility: visible;
        background: none;
    }

    header .submenu-nav img {
        display: none;
    }

    header .submenu-nav .item-menu {
        background: none;
        text-align: left;
        margin: 0;
    }

    header .submenu-nav .item-menu p {
        font-size: 16px;
        text-transform: capitalize;
        color: #707070;
        font-weight: 400;
        padding-bottom: 0;
    }

    header .submenu-nav .item-menu br {
        display: none;
    }

    header .fondo-menu {
        background: #ffffff;
        width: 100%;
        height: 233px;
    }

    header .submenu-nav-empresas {
        visibility: visible;
        background: none;
        height: 0px;
        top: 174px;
    }

    header .submenu-nav-empresas img {
        display: none;
    }

    header .submenu-nav-empresas .item-menu {
        background: none;
        text-align: left;
        margin: 0;
        height: 36px;
    }

    header .submenu-nav-empresas .item-menu p {
        font-size: 16px;
        text-transform: capitalize;
        color: #707070;
        font-weight: 400;
        padding-bottom: 0;
        margin-top: 190px;
    }
    header .submenu-nav-empresas .item-menu br {
        display: none;
    }

    header .fondo-menu-empresa {
        background: #ffffff;
        width: 100%;
        height: 95px;
    }

    header .submenu-azul {
        display: none;
    }

    header .iniciar-sesion {
        margin-left: 18px;
        text-align: center;
        text-transform: uppercase;
    }

    header .borde {
        border-top: 1px solid;
        color: #707070;
    }




    





    




}

@media screen and (min-width: 700px) and (max-width: 800px) {
    
    #brainbrow .home-texto {
        margin-left: 138px;
        margin-right: 138px;
    }

    #brainbrow .home-texto h1 {
        font-size: 30px;
        font-weight: 700;
    }

    #brainbrow .home-img {
        margin-top: 40px;
        text-align: center;
    }

    #brainbrow .home-img img {
        width: 70%;
    }

    #cta .sub-menu {
        padding-top: 35px;
    }

    #control .contenedor h3 {
        font-size: 35px;
    }

    #control .contenedor .contenedor-control {
        display: flex;
        flex-direction: row;
        flex-wrap: inherit;
    }

    #nuestros-servicios h3 {
        font-size: 35px;
    }

    #nuestros-servicios h6 {
        font-size: 16px;
        visibility: visible;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-uno h4 {
        font-size: 29px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-uno p {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-uno a {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-dos h4 {
        font-size: 29px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-dos p {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-dos a {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-tres h4 {
        font-size: 29px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-tres p {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-tres a {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cuatro h4 {
        font-size: 29px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cuatro p {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cuatro a {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cinco h4 {
        font-size: 29px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cinco p {
        font-size: 16px;
    }

    #nuestros-servicios .contenedor-nuestros-servicios .servicio-cinco a {
        font-size: 16px;
    }


}
